@at-root
	.commonPages
		flex: 1
		min-height: calc(100vh - 72px)
		height: 100%
		max-width: 64%
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		margin: 0 auto

@media (max-width: 780px)
	.commonPages
		max-width: 95%